# datas
/SemEval-2026/subTask1/data/
/SemEval-2026/subTask2a/data/
/SemEval-2026/subTask2b/data/
/SemEval-2026/TRAIN_RELEASE_3SEP2025/
SemEval-2026/__pycache__
SemEval-2026/extremism
SemEval-2026/liwc_script_output
SemEval-2026/TEST_RELEASE_5JAN2026
SemEval-2026/subTask1/pred_subtask1.csv